#map {
    height: 500px;
    width: auto;
}
#mapaTras {
    height: 500px;
    width: auto;
}
.news-clickable {
	color: blue;
	cursor: pointer;
}

#news-back {
	color: blue;
	cursor: pointer;
}
nav {
    padding: 10px;
}
.jumbotron {
    margin-bottom: 5px;
}

#add_form {
    display: none;
}

#close_icon {
    float: right;
    margin-top: -30px;
    opacity: .5;
    cursor: pointer;
}

#close_icon:hover {
    opacity: .8;
}

#alert-success {
    display: none;
}

#alert-fail {
    display: none;
}

.td-active {
    color: green;
}

.td-noactive {
    color: gray;
    cursor: pointer;
}

.td-noactive:hover {
    color: black;
}

#filter_cancel {
    color: blue;
    cursor: pointer;
}