#map {
    height: 500px;
    width: auto;
}
#mapaTras {
    height: 500px;
    width: auto;
}
.news-clickable {
	color: blue;
	cursor: pointer;
}

#news-back {
	color: blue;
	cursor: pointer;
}
nav {
    padding: 10px;
}
.jumbotron {
    margin-bottom: 5px;
}